@font-face {
	
}

h2{
	margin: 20px;
}
.card{
	float: left;
	display: inline-block;
	padding:10px;
	margin: 15px;
	max-width: 30%;
}

.lyrics {
	width: 100%;
}

.card-body img {
	background-image: 'http://inyourspeakers.com/files/images/reviews/odesza-13120.jpg';
	width: 100%;
	height: 100%;
}

.card-text {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}