{% extends 'baseTemplate.html' %}


{% block bodyContent %}
	<div class = "container">
			<div class = "row">
        <div class = "col-md-12">
				<h1 style="padding:20px">Contests</h1>
				<div class="card-group soundtrack-box">
            <div class="card col-md-4">
              <div class="card-body">
                <img src="http://static.djbooth.net/pics-features/chance-3-artwork.jpg" class="soundtrack-image">
                </div>
              </div>
              <div class="card col-md-6">
                <div class="card-body">
                  <h4 class="card-title">{{ sponsor_name1 }}</h4>
                  <p class="card-text">{{ sponsor_description1 }}</p>
                </div>
              </div>
              <div class = "card col-md-2">
                <div class = "card-body">
                  <p class = "card-text">Reward:</p>
                  <img src = "../images/reward.png" class="contest-image">
                </div>
              </div>
        </div>
        <div class="card-group soundtrack-box">
            <div class="card col-md-4">
              <div class="card-body">
                <img src="http://static.djbooth.net/pics-features/chance-3-artwork.jpg" class="soundtrack-image">
                </div>
              </div>
              <div class="card col-md-6">
                <div class="card-body">
                  <h4 class="card-title">{{ sponsor_name2 }}</h4>
                  <p class="card-text">{{ sponsor_description2 }}</p>
                </div>
              </div>
              <div class = "card col-md-2">
                <div class = "card-body">
                  <p class = "card-text">Reward:</p>
                  <img src = "../images/reward.png" class="contest-image">
                </div>
              </div>
        </div>
        <div class="card-group soundtrack-box">
            <div class="card col-md-4">
              <div class="card-body">
                <img src="http://static.djbooth.net/pics-features/chance-3-artwork.jpg" class="soundtrack-image">
                </div>
              </div>
              <div class="card col-md-6">
                <div class="card-body">
                  <h4 class="card-title">{{ sponsor_name3 }}</h4>
                  <p class="card-text">{{ sponsor_description3 }}</p>
                </div>
              </div>
              <div class = "card col-md-2">
                <div class = "card-body">
                  <p class = "card-text">Reward:</p>
                  <img src = "../images/reward.png" class="contest-image">
                </div>
              </div>
        </div>
        </div>
			</div>
	</div>
  

{% endblock %}


