{% extends "baseTemplate.html" %}



{% block includeCSS %}
  {% load static %}
  <link rel="stylesheet" href= "{% static 'css/index.css' %}">
  <script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
{% endblock %}


{% block bodyContent %}
    <div class="container">
      <div class="row">
        <h2 class="section-title">Featured Tracks</h2>
      </div>
      <div class="row">

        {% for featTrack in featTracks %}
        <!-- IF YOU TRY TO FEATURE MORE THAN 3 TRACKS
             YOU'RE GONNA HAVE A BAD TIME-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <img src='{{featTrack.image.url}}' track-id="{{featTrack.id}}" class="soundtrack-image">
                  <h4 class="card-title">{{ featTrack.title }}</h4>
                  <h6 class="card-subtitle mb-2 text-muted">{{ featTrack.artist }}</h6>
                  <p class="card-text">
                    {{ featTrack.description }}
                    <audio controls="controls" preload="none" controlsList="nodownload">
                      <source src="{{ featTrack.mp3.url }}" type="audio/mpeg">
                    </audio>
                  </p>
                  <a href="./soundtrack/{{ featTrack.id }}" class="card-link">LISTEN</a>
                  <a href="./profile/{{ featTrack.artist.id }}" class="card-link">VIEW ARTIST</a>
                </div>
            </div>
        </div>
        {% endfor %}

      </div>
      <div class='row'>
        <div class="col-md-12">
          {% if user.is_authenticated %}
            <div class="dropdown" id="indexDropDown">
              <h2 class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Top
              </h2>
              <div class="dropdown-menu" id="indexDropDownMenu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#!">Following</a>
              </div>
            </div>
          {% else %}
            <h2>Top</h2>
          {% endif %}
        </div>
      </div>

      <!-- <div class="row">
        <div id="time-selector" class="dropdown">
            <p class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Today
            </p>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="#!">This Week</a>
              <a class="dropdown-item" href="#!">This Month</a>
            </div>
        </div>
      </div> -->

      <div class='row'>
        <div class="col-md-12">

          <div id="top-feed">
            {% for track in tracks %}
    				<div  class="card-group soundtrack-box" track-id={{track.id}}>
            <div class="card col-md-4">
              <div class="card-body">
                <div class = 'float-left'>
                  <h4 track-id="{{track.id}}" class="track-title">{{ track.title }}</h4>
                  <h5 artist-id="{{track.artist.id}}" class="track-artist">{{ track.artist.full_name }}</h5>
                </div>
                <button type="button-track" track-id={{track.id}} class="btn btn-outline-secondary float-right upvote-btn">▲ {{ track.upvotes }}</button>
                <img src="{{track.image.url}}" track-id="{{track.id}}" class="soundtrack-image">
                <audio controls="controls" preload="none" controlsList="nodownload">
                  Your browser does not support the audio element.
                  <source src="{{ track.mp3.url }}" type="audio/mpeg">
                </audio>
                </div>
              </div>
              <div class="card col-md-8">
                <div class="card-body">
                  <h4 class="card-title">Top Lyrics</h4>
                  {% for lyric in track.top_lyrics%}
                    <h5 class='card-text float-left' artist-id={{artist.id}}> {{ lyric.artist }}</h5>
                    <p class="card-text float-left" lyric-id={{lyric.id}}> {{ lyric.text }}</p>
                    <button type="button-lyric" lyric-id={{lyric.id}} class="btn btn-outline-secondary float-right upvote-btn">▲ {{ lyric.upvotes }}</button>
                  {% empty %}
                    <i class="card-text"> No lyrics posted for this track. Spit your's today.</i>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div id="follow-feed">
            {% for follow in allFollowing %}
              {% for track in follow.following.top_track %}
      				<div  class="card-group soundtrack-box" track-id={{track.id}}>
              <div class="card col-md-4">
                <div class="card-body">
                  <div class = 'float-left'>
                    <h4 track-id="{{track.id}}" class="track-title">{{ track.title }}</h4>
                    <h5 artist-id="{{track.artist.id}}" class="track-artist">{{ track.artist.full_name }}</h5>
                  </div>
                  <button type="button-track" track-id={{track.id}} class="btn btn-outline-secondary float-right upvote-btn">▲ {{ track.upvotes }}</button>
                  <img src="{{track.image.url}}" track-id="{{track.id}}" class="soundtrack-image">
                  <audio controls="controls" preload="none" controlsList="nodownload">
                    Your browser does not support the audio element.
                    <source src="{{ track.mp3.url }}" type="audio/mpeg">
                  </audio>
                  </div>
                </div>
                <div class="card col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">Top Lyrics</h4>
                    {% for lyric in track.top_lyrics%}
                      <h5 class='card-text float-left' artist-id={{artist.id}}> {{ lyric.artist }}</h5>
                      <p class="card-text float-left" lyric-id={{lyric.id}}> {{ lyric.text }}</p>
                      <button type="button-lyric" lyric-id={{lyric.id}} class="btn btn-outline-secondary float-right upvote-btn">▲ {{ lyric.upvotes }}</button>
                    {% empty %}
                      <i class="card-text"> No lyrics posted for this track. Spit your's today.</i>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}

            {% empty %}
              <i class="card-text"> You haven't followed anyone yet.</i>
            {% endfor %}
          </div>
        </div>
      </div>

{% endblock %}
