{% extends "baseTemplate.html" %}

{% block title %}
<title>A Soundtrack</title>
{% endblock %}

{% block includeCSS %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/soundtrack.css' %}">

{% endblock %}


{% block propic %}
<img src ="../{{user.artist.image.url}}" width= '35px'>
{% endblock %}


{% block bodyContent %}
  <div class="container">
      <div class="row" id="profile"> <!-- header section -->
        <div class='col-md-8'>
          <div id="trackInfo">
              <div id="picture"><img src ="../{{track.artist.image.url}}" width= '100px'></div>
                <ul id="names-and-info">
                  <li>{{ track.title }}</li>
                  <li>{{ track.artist.firstName }} {{ track.artist.lastName }}</li>
                  <li>{{ track.keywords }}</li>
                </ul>
            </div>
          </div>
          <div class='col-md-4'>
                <ul id="social-buttons">        <!-- Make this part dynamic -->
                  <li>Facebook</li>
                  <li>Twitter</li>
                  <li>SoundCloud</li>
                  <li>YouTube</li>
                </ul>
          </div>
      </div>
      <div class="row" id='music-icon'> <!-- the wave thing + on-site social -->
        <div class='col-md-12'>
          <audio controls="controls">
                Your browser does not support the audio element.
                <source src="../{{ track.mp3.url }}" type="audio/mpeg">
              </audio>
			<div class="btn-group-vertical" role="group" aria-label="Basic example">
			  <button type="button" id="recButton" class="btn btn-secondary">Recommend</button>
			  <button type="button-track" track-id={{track.id}} class="btn btn-outline-secondary float-right upvote-btn">▲ {{ track.upvotes }}</button>
			</div>
        </div>
      </div>
 <!-- LYRICS SECTION BELOW -->
    {% for lyric in track.top_lyrics%}
      <div class="row" id='lyrics'>
        <div class='col-md-12'>
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ lyric.title }}</h4>
                <button type="button" lyric-id={{lyric.id}} class="btn btn-outline-secondary float-right upvote-btn">▲ {{ lyric.upvotes }}</button>
                <p class="card-text">{{ lyric.text }}</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Comments</h4>

                <ul>
                {% for lyric_comment in lyric.top_comments%}

                  <li> <strong>{{ lyric_comment.artist }}</strong>:  {{ lyric_comment.text }} <button type="button" lyric-comment-id="{{lyric_comment.id}}" class="btn btn-outline-secondary float-right upvote-btn">▲ {{ lyric_comment.upvotes }}</button></li>

                {% endfor %}
                </ul>
<!--                 <p><a href="{% url 'create_comment' %}">Create Comment</a></p>
 -->                <input type = 'text'>
                    <button type="submit">Submit</button>
                    <!-- <form action="create_comment" method="post">
                      {% csrf_token %}
                      <input name = "user_comment" type="text" class = "form-control" id = "user">
                      {{ comment }}
                      <button type="submit">Submit</button>
                    </form>-->
                   
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="row">
        <div class='col-md-12'>
          <a href="./lyrics/{{ track.id }}">
            <button type="button" id="postLyrics" class="btn btn-secondary">Post Lyrics</button>
          </a>
          <button type="button" id="postComment" class="btn btn-secondary">Post Comment</button>
        </div>
    </div>
  </div><!--content close-->

{% endblock %}
