#rightSide ul li{
	border-style: solid;  /*this is only for visual */
	border-width: 1px;
	display: inline;
	font-size: 20px;
	margin-left: 5px;
	padding-right: 2px;
	padding-left: 2px;

}

#name{
	display: inline;
}

img{
	border-radius: 1px;
	max-width: 110%;
	max-height: 75%;
}

#searchBox{
	display: inline;
}

input{
	display: inline;
	border-style: solid;
}