/* nav bar styling */
.nav {
	height:3.5em;
	width: 100%;
	padding: 0;
}
.col-sm-3, .col-sm-6{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	height:140%;
}

img{
	max-width: 40%;
	display: inline;
	margin:7px 0;
}

#searchBox {
	margin: 15px 15px;
}

button img {
	max-width: 90%;
	max-height: 90%;
	padding:3px;
	margin: 3px;
}

button {
	border:0;
	margin:0;
	padding:0;
	background-color: white;
	/*display: inline-block;*/
}

button a{
	display: block;
	background-color: white;
	border-radius: 50%;
	border: 1px solid green;
	padding:4px 4px 4px 4px;
}

#searchBox button a:hover{
	background-color: green !important;
}

input{
	padding-left:6px;
	margin-right: 2px;
}


#name-and-login ul{
	margin: 5px 2px 2px -8px;
	padding:0;
	list-style-type: none;
	margin:0px 0px;
	padding:0px 0px;
}

#name-and-login ul li {
	/*border: 1px solid black;*/
	width:100px;
	height:50px;
	display:inline;
}

#name-and-login img{
	max-width: 15%;
	margin: 7px 2px;
	padding:3px;
	display: inline;
}

#name-and-login li a{
	color:green;
	margin:2px;
	max-width:75px;
	padding:12px 6px 16px 5px;
}

#name-and-login li a:link{

}
#name-and-login li a:hover{
	color: white;
	text-decoration: none;
	background-color: green;
}

/* ^ end nav bar styling ^ */
