h2{
	margin: 20px;
}

img {
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
}

.card-group{
  margin-bottom: 30px;
}

.image:after{
	 background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image:hover:after {
    opacity:1;
}

