/* nav bar styling */
nav button{
	cursor: pointer;
}

nav #logo {
	width:60%;
	max-width:220px;
	padding: 0px;
	display: inline-block;
}

nav #logo * > img{
	width: 28%;
	display: inline;
	max-width: 100px;
}

nav #logo-name {
	font-weight: bold;
	letter-spacing: 1px;
	color:green;
}

nav ul {
	list-style-type: none;
}

nav ul.navbar-nav{
	float: right;
	max-width: 220px;
}


nav #upload-button{
	background-color: green;
	border:0;
	color:white;
	display: inline-block;
	padding:7px 8px;
	margin: 8% 0;
}

nav #ddmenu{
	margin: 0 -5% 0 3%;
	padding:0 10px 0 0;
	display: inline-block;
	cursor: pointer;
}

nav #ddmenu *{
	cursor: pointer;
	padding:2px 3.5px;
}

nav .btn-secondary{
	background-color: white;
	border:0;
}

nav .btn-secondary:focus{
	border:none;
	box-shadow: none;	
}

nav .btn-secondary:hover{
	color:white;
	background-color:rgb(110, 175, 105)
}

nav .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    background-color:rgb(110, 175, 105); 
    border:none;
}

nav button.dropdown-toggle{
	color:green;
	padding:0;
}

nav #profile-pic {
	margin:1%;
	padding:2.5%;
	width: 90%;
	max-width:40px;
	display: inline;
}

 /*^ end nav bar styling ^ */


.container {
	margin-left: auto;
	margin-right: auto;
	padding-left:15px;
	padding-right: 15px;
}

.soundtrack-image {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.soundtrack-box{
  margin-bottom: 30px;
}