/*User header styles*/

.user-header{
	margin-top: 30px;
	margin-bottom: 50px;
  padding: 20px;
}

#user-header-details div{
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#user-pic{
	width: 120px;
	height: 120px;
  margin-right: 25px;
}

#user-header-socials{
  text-align: right;
}

#user-stats div{
  display: inline-block;
}

#follow-btn{
	cursor: pointer;
  width: 120px;
}

#user-header-socials div{
}

/* Feed styles */

#dropdownMenu1{
	cursor: pointer;
	width: 115px;
}

.user-content{
	height: 1000px;
}

/*Media queries*/

@media (max-width: 768px) { /*when less than col-sm in boostrap*/
  #user-header-details div{
    margin-right: 20px;
  }

  #user-header-socials{
    text-align: center;
  }

  #follow-btn{
    width: 100%;
  }
}
