#trackInfo img{
	height: 100px;
	float: left;
}

#names-and-info li{
	list-style-type: none;
	width: 160px;
	margin-left: 5px;
	position: relative;
	left: 40px;
}

#social-buttons{
	list-style-type: none;
	float: left;
}

.row{
	border-style: solid;
}

#music-icon{
	height: 100px;
	/*border-style: solid;*/
	margin-top: 20px;
}

#music-gif{
	width: 300px;
	position: relative;
	height:95px;
	margin-top: 0px;
	padding-top: 0px;
	position: relative;
}

#thumb{
	float:right;
	margin-top: 10px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: black;
	position: relative;
	right: 140px;
}

#recButton{
	margin-top: 10px;
	float: right;
	position: relative;
	top: 40px;
	right: 15px;
	background-color: black;
}

#lyrics{
	margin-top: 30px;
	height: 500px;
}

.card-group{
	height: 450px;
}













